@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
  background: linear-gradient(135deg, #b3eeba, #2da3b1);
  min-height: 100vh;
  color: #ffffff;
}

.app-container {
  max-width: 640px;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  /* overflow: hidden; 移除此行 */
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}